.toolbarNavigation {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1;
}

.toolbarNavigation ul,
.toolbarNavigation ul li,
.toolbarNavigation ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
    margin-bottom:1px solid black;
}

.toolbarNavigation ul {
  position: relative;
  z-index: 500;
  float: left;
}

.toolbarNavigation ul li {
  float: left;
  min-height: 0.05em;
  line-height: 1em;
  vertical-align: middle;
  position: relative;

}

.toolbarNavigation ul li.hover,
.toolbarNavigation ul li:hover {
  position: relative;
  z-index: 510;
  cursor: default;
}

.toolbarNavigation ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 520;
  width: auto;
}

.toolbarNavigation ul ul li { float: none; }

.toolbarNavigation ul ul ul {
  top: 0;
  right: 0;
}

.toolbarNavigation ul li:hover > ul { visibility: visible; }

.toolbarNavigation ul ul {
  top: 0;
  left: 99%;
}

.toolbarNavigation ul li { float: none; }

.toolbarNavigation ul ul { margin-top: 0.05em; }

.toolbarNavigation {
  width: 13em;
  background: #fff;
  font-family: 'roboto', Tahoma, Arial, sans-serif;
  zoom: 1;

}

.toolbarNavigation:before {
  content: '';
  display: block;
}

.toolbarNavigation:after {
  content: '';
  display: table;
  clear: both;
}

.toolbarNavigation a {
  display: block;
  padding: 1em 1.3em;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.toolbarNavigation > ul { width: 5em; border:1px solid black;}

.toolbarNavigation ul ul { width: 5em; margin-left:1px; }

.toolbarNavigation > ul > li > a {
  border-right: 0.3em solid #34A65F;
  color: #ffffff;
}

.toolbarNavigation > ul > li > a:hover { color: #ffffff; }

.toolbarNavigation > ul > li a:hover,
.toolbarNavigation > ul > li:hover a { background: #34A65F; }

.toolbarNavigation li { position: relative;  }

.toolbarNavigation ul li.has-sub > a:after {
  content: '»';
  position: absolute;
  right: 1em;
}

.toolbarNavigation ul ul li.first {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}

.toolbarNavigation ul ul li.last {
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
  border-bottom: 0;
}

.toolbarNavigation ul ul {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.toolbarNavigation ul ul { border: 1px solid #34A65F; }

.toolbarNavigation ul ul a { color: #ffffff; }

.toolbarNavigation ul ul a:hover { color: #ffffff; }

.toolbarNavigation ul ul li { border-bottom: 1px solid #0F8A5F; }

.toolbarNavigation ul ul li:hover > a {
  background: #4eb1ff;
  color: #ffffff;
}

.toolbarNavigation.align-right > ul > li > a {
  border-left: 0.3em solid #34A65F;
  border-right: none;
}

.toolbarNavigation.align-right { float: right; }

.toolbarNavigation.align-right li { text-align: right; }

.toolbarNavigation.align-right ul li.has-sub > a:before {
  content: '+';
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -6px;
}

.toolbarNavigation.align-right ul li.has-sub > a:after { content: none; }

.toolbarNavigation.align-right ul ul {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 598;
  width: auto;
}

.toolbarNavigation.align-right ul ul li.first {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}

.toolbarNavigation.align-right ul ul li.last {
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
}

.toolbarNavigation.align-right ul ul {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.canvasClass{}
.canvasWrapperClass{
  border: 1px solid black;
  float:left;
}
