@import '_toolbar.scss';

.canvasWrapperClass {
  border: 1px solid green;
  margin: 4px;
  float: left;
  width: 40em;
}

div.activeCanvas {
  border: 5px solid black;
  margin: 0;
}

#currentCanvasTextWrapper {
  top: 10em;
  z-index: 2;
  position: relative;
  text-align: center;
}