@charset "UTF-8";
.toolbarNavigation {
  padding: 5px;
  margin-bottom: 5px;
  border: 0;
  line-height: 1;
  background: #fff;
  font-family: "roboto", Tahoma, Arial, sans-serif;
  zoom: 1;
  display: block;
  float: left;
  display: block;
  width: 100%;
}
.toolbarNavigation a {
  display: block;
  padding: 1em 1.3em;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.toolbarNavigation ul {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  list-style: none;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  margin-bottom: 1px solid black;
  position: relative;
  z-index: 500;
  border: 1px solid black;
  padding: 7px;
}
.toolbarNavigation ul li {
  float: left;
  display: block;
  min-height: 0.05em;
  line-height: 1em;
  vertical-align: middle;
  position: relative;
  margin-left: 0.5em;
}
.toolbarNavigation ul li li.hover,
.toolbarNavigation ul li li:hover {
  position: relative;
  z-index: 510;
  cursor: default;
}
.toolbarNavigation ul li ul {
  border: 1px solid #34A65F;
  margin-top: 3em;
  width: 20em;
  background-color: white;
  margin-left: -5em;
}
.toolbarNavigation ul li ul li {
  float: left;
  display: block;
  margin-left: 0;
  margin-right: 0.7em;
  width: 4em;
  padding: 2px;
}
.toolbarNavigation ul li ul li:hover {
  background-color: purple;
}
.toolbarNavigation ul li:hover > ul {
  visibility: visible;
  float: left;
  display: block;
  list-style: none;
}
.toolbarNavigation ul li.has-sub > a:after {
  content: "»";
  position: absolute;
  right: 1em;
}
.toolbarNavigation ul ul {
  @includecorner-radius : (
        3px,
        all
      );
  visibility: hidden;
  position: absolute;
  top: 100%;
  z-index: 520;
  width: auto;
  float: left;
  display: block;
  top: 0;
  left: 99%;
  margin-top: 0.05em;
  width: 5em;
  margin-left: 1px;
  border: 1px solid #34A65F;
}
.toolbarNavigation ul ul a {
  color: #ffffff;
}
.toolbarNavigation ul ul li:hover > a {
  background: #4eb1ff;
  color: #ffffff;
}
.toolbarNavigation > ul {
  float: left;
  display: block;
}
.toolbarNavigation > ul > li > a {
  border-right: 0.3em solid #34A65F;
  color: #ffffff;
}
.toolbarNavigation > ul > li > a:hover {
  color: #ffffff;
  background: #34A65F;
}
.toolbarNavigation > ul > li:hover a {
  background: #34A65F;
}
.toolbarNavigation li {
  position: relative;
}
.toolbarNavigation .align-right {
  float: right;
}
.toolbarNavigation .align-right li {
  text-align: right;
}
.toolbarNavigation .align-right ul li.has-sub > a:before {
  content: "+";
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -6px;
}
.toolbarNavigation .align-right ul li.has-sub > a:after {
  content: none;
}
.toolbarNavigation .align-right ul ul {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 598;
  width: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.toolbarNavigation .align-right ul ul li.first {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
  list-style: none;
}
.toolbarNavigation .align-right ul ul li.last {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}
.toolbarNavigation .align-right > ul > li > a {
  border-left: 0.3em solid #34A65F;
  border-right: none;
}
.toolbarNavigation:before {
  content: "";
  display: block;
  float: left;
}
.toolbarNavigation:after {
  content: "";
  display: table;
  clear: both;
}

/*thought, speech roting classes*/
#tlSpeech,
#tlThought {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

#blSpeech,
#blThought {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.listImg,
.speechImg,
.thoughtImg {
  display: block;
  float: left;
  width: 4em;
  padding-left: 0.5 em;
  height: 3em;
}

.canvasClass {
  width: 100%;
}

.canvasWrapperClass {
  border: 1px solid green;
  margin: 4px;
  float: left;
}

.canvasClass {
  width: 800px;
  height: 600px;
}

div.activeCanvas {
  border: 5px solid black;
  margin: 0;
}

#currentCanvasTextWrapper {
  top: 10em;
  z-index: 2;
  position: relative;
  text-align: center;
}

/*# sourceMappingURL=cartoonbuilder.css.map */
